In [1]:
import pandas as pd

In [2]:
melb_data = pd.read_csv('melb_data_ps/melb_data_ps.csv')

In [20]:
melb_df = melb_data.copy()

In [21]:
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)

In [22]:
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']

In [24]:
melb_df['MeanRoomSquare'] = melb_df['BuildingArea']/total_rooms

In [25]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] - melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area

In [29]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'])

In [30]:
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomSquare,AreaRatio
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12,2.5,3067,...,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,1.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-04-02,2.5,3067,...,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,1.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-04-03,2.5,3067,...,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,1.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-04-03,2.5,3067,...,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,1.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-04-06,2.5,3067,...,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,1.0

In [32]:
print(melb_df['Address'].nunique())
melb_df.shape

13378

(13580, 23)

In [34]:
print(melb_df['Address'].loc[176])
print(melb_df['Address'].loc[1811])
print(melb_df['Address'].loc[9000])

51 Millers Rd
5/698 Inkerman Rd
2 Boyd St

In [42]:
def get_street_type(address):
    exclude_list = ['N', 'E', 'S', 'W']
    address_list = address.split(' ')
    street_type = address_list[-1]
    if street_type in exclude_list:
        street_type = address_list[-2]
    return street_type

In [43]:
street_types = melb_df['Address'].apply(get_street_type)
display(street_types)

0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: Address, Length: 13580, dtype: object

In [44]:
print(street_types.nunique())

56

In [45]:
display(street_types.value_counts())

St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Gdns            4
Grn             4
Fairway         4
Mews            4
Crossway        3
Righi           3
Victoria        2
Ridge           2
Crofts          2
Esp             2
Glade           1
Gra             1
Ave             1
Woodland        1
Outlook         1
Hts             1
Highway         1
Athol           1
Summit          1
Grand           1
Res             1
Nook            1
Eyrie           1
Dell            1
East            1
Loop            1
Grange          1
Terrace         1
Cove            1
Qy              1
Corso           1
Name: Address, dtype: int64

In [50]:
popular_stypes = street_types.value_counts().nlargest(10).index
print(popular_stypes)

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

In [51]:
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'])

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

In [52]:
print(melb_df['StreetType'].nunique())

11

In [54]:
melb_df = melb_df.drop('Address', axis=1)

In [55]:
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek

In [56]:
melb_df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomSquare,AreaRatio,StreetType,WeekdaySale
0,Abbotsford,2,h,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,1.0,St,5
1,Abbotsford,2,h,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,1.0,St,5
2,Abbotsford,3,h,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,1.0,St,0
3,Abbotsford,3,h,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,1.0,other,0
4,Abbotsford,4,h,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,1.0,St,2

In [57]:
def get_weekend(weekday):
    if weekday in [5, 6]:
        return 1
    else:
        return 0

In [58]:
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

In [59]:
display(melb_df['Weekend'])

0        1
1        1
2        0
3        0
4        0
        ..
13575    1
13576    1
13577    1
13578    1
13579    1
Name: Weekend, Length: 13580, dtype: int64

In [68]:
round(melb_df[melb_df['Weekend'] == 1]['Price'].mean(), 2)

1083291.7

In [70]:
display(melb_df['SellerG'].value_counts())

Nelson           1565
Jellis           1316
hockingstuart    1167
Barry            1011
Ray               701
                 ...
Prowse              1
Luxe                1
Zahn                1
Homes               1
Point               1
Name: SellerG, Length: 268, dtype: int64

In [72]:
popular_sellers = melb_df['SellerG'].value_counts().nlargest(49).index
print(popular_sellers)

Index(['Nelson', 'Jellis', 'hockingstuart', 'Barry', 'Ray', 'Marshall',
       'Buxton', 'Biggin', 'Brad', 'Fletchers', 'Woodards', 'Jas', 'Greg',
       'McGrath', 'Sweeney', 'Noel', 'Miles', 'RT', 'Gary', 'Harcourts',
       'Hodges', 'YPA', 'Stockdale', 'Village', 'Kay', 'Raine', 'Williams',
       'Love', 'Douglas', 'Chisholm', 'RW', 'Rendina', 'HAR', 'O'Brien', 'C21',
       'Collins', 'Cayzer', 'Eview', 'Purplebricks', 'Philip', 'Buckingham',
       'Bells', 'Thomson', 'Nick', 'Alexkarbon', 'McDonald', 'Burnham',
       'Moonee', 'LITTLE'],
      dtype='object')

In [74]:
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_sellers else 'other')
display(melb_df['SellerG'])

0          Biggin
1          Biggin
2          Biggin
3          Biggin
4          Nelson
           ...
13575       Barry
13576    Williams
13577       Raine
13578     Sweeney
13579     Village
Name: SellerG, Length: 13580, dtype: object

In [77]:
round((melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min())/(melb_df[melb_df['SellerG'] == 'other']['Price'].min()), 1)

1.3