In [9]:
import pandas as pd

In [10]:
melb_data = pd.read_csv('melb_data_ps/melb_data_ps.csv')

In [11]:
melb_df = melb_data.copy()

In [12]:
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)

In [13]:
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']

In [14]:
melb_df['MeanRoomSquare'] = melb_df['BuildingArea']/total_rooms

In [15]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] - melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area

In [16]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'])

In [17]:
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomSquare,AreaRatio
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12,2.5,3067,...,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,1.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-04-02,2.5,3067,...,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,1.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-04-03,2.5,3067,...,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,1.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-04-03,2.5,3067,...,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,1.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-04-06,2.5,3067,...,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,1.0

In [18]:
print(melb_df['Address'].nunique())
melb_df.shape

13378

(13580, 23)

In [19]:
print(melb_df['Address'].loc[176])
print(melb_df['Address'].loc[1811])
print(melb_df['Address'].loc[9000])

51 Millers Rd
5/698 Inkerman Rd
2 Boyd St

In [20]:
def get_street_type(address):
    exclude_list = ['N', 'E', 'S', 'W']
    address_list = address.split(' ')
    street_type = address_list[-1]
    if street_type in exclude_list:
        street_type = address_list[-2]
    return street_type

In [21]:
street_types = melb_df['Address'].apply(get_street_type)
display(street_types)

0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: Address, Length: 13580, dtype: object

In [22]:
print(street_types.nunique())

56

In [23]:
display(street_types.value_counts())

St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Gdns            4
Grn             4
Fairway         4
Mews            4
Crossway        3
Righi           3
Victoria        2
Ridge           2
Crofts          2
Esp             2
Glade           1
Gra             1
Ave             1
Woodland        1
Outlook         1
Hts             1
Highway         1
Athol           1
Summit          1
Grand           1
Res             1
Nook            1
Eyrie           1
Dell            1
East            1
Loop            1
Grange          1
Terrace         1
Cove            1
Qy              1
Corso           1
Name: Address, dtype: int64

In [24]:
popular_stypes = street_types.value_counts().nlargest(10).index
print(popular_stypes)

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

In [25]:
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'])

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

In [26]:
print(melb_df['StreetType'].nunique())

11

In [27]:
melb_df = melb_df.drop('Address', axis=1)

In [28]:
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek

In [29]:
melb_df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomSquare,AreaRatio,StreetType,WeekdaySale
0,Abbotsford,2,h,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,1.0,St,5
1,Abbotsford,2,h,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,1.0,St,5
2,Abbotsford,3,h,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,1.0,St,0
3,Abbotsford,3,h,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,1.0,other,0
4,Abbotsford,4,h,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,1.0,St,2

In [30]:
def get_weekend(weekday):
    if weekday in [5, 6]:
        return 1
    else:
        return 0

In [31]:
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

In [32]:
display(melb_df['Weekend'])

0        1
1        1
2        0
3        0
4        0
        ..
13575    1
13576    1
13577    1
13578    1
13579    1
Name: Weekend, Length: 13580, dtype: int64

In [33]:
round(melb_df[melb_df['Weekend'] == 1]['Price'].mean(), 2)

1083291.7

In [34]:
display(melb_df['SellerG'].value_counts())

Nelson           1565
Jellis           1316
hockingstuart    1167
Barry            1011
Ray               701
                 ...
Prowse              1
Luxe                1
Zahn                1
Homes               1
Point               1
Name: SellerG, Length: 268, dtype: int64

In [35]:
popular_sellers = melb_df['SellerG'].value_counts().nlargest(49).index
print(popular_sellers)

Index(['Nelson', 'Jellis', 'hockingstuart', 'Barry', 'Ray', 'Marshall',
       'Buxton', 'Biggin', 'Brad', 'Fletchers', 'Woodards', 'Jas', 'Greg',
       'McGrath', 'Sweeney', 'Noel', 'Miles', 'RT', 'Gary', 'Harcourts',
       'Hodges', 'YPA', 'Stockdale', 'Village', 'Kay', 'Raine', 'Williams',
       'Love', 'Douglas', 'Chisholm', 'RW', 'Rendina', 'HAR', 'O'Brien', 'C21',
       'Collins', 'Cayzer', 'Eview', 'Purplebricks', 'Philip', 'Buckingham',
       'Bells', 'Thomson', 'Nick', 'Alexkarbon', 'McDonald', 'Burnham',
       'Moonee', 'LITTLE'],
      dtype='object')

In [36]:
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_sellers else 'other')
display(melb_df['SellerG'])

0          Biggin
1          Biggin
2          Biggin
3          Biggin
4          Nelson
           ...
13575       Barry
13576    Williams
13577       Raine
13578     Sweeney
13579     Village
Name: SellerG, Length: 13580, dtype: object

In [37]:
round((melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min())/(melb_df[melb_df['SellerG'] == 'other']['Price'].min()), 1)

1.3

In [38]:
def get_experience(arg):
    """
    Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. 
    Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.
    """
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splitted = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splitted)):
        if args_splitted[i] in month_key_words:
            month = args_splitted[i-1]
        if args_splitted[i] in year_key_words:
            year = args_splitted[i-1]
    return int(year)*12+int(month)

if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)
print(experience_month)

0    99
1    41
2    21
3     3
4    72
dtype: int64

In [39]:
melb_df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomSquare,AreaRatio,StreetType,WeekdaySale,Weekend
0,Abbotsford,2,h,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,1.0,St,5,1
1,Abbotsford,2,h,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,1.0,St,5,1
2,Abbotsford,3,h,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,1.0,St,0,0
3,Abbotsford,3,h,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,1.0,other,0,0
4,Abbotsford,4,h,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,1.0,St,2,0

In [41]:
unique_list = []
for col in melb_df.columns:
    item = (col, melb_df[col].nunique(), melb_df[col].dtype)
    unique_list.append(item)
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique', ignore_index=True)
display(unique_counts)

       Column_Name  Num_Unique            Type
0        AreaRatio           1         float64
1          Weekend           2           int64
2             Type           3          object
3           Method           5          object
4      WeekdaySale           7           int64
5       Regionname           8          object
6         Bathroom           9           int64
7            Rooms           9           int64
8              Car          11           int64
9       StreetType          11          object
10         Bedroom          12           int64
11     CouncilArea          33          object
12         SellerG          50          object
13            Date          58  datetime64[ns]
14       YearBuilt         144           int64
15        Postcode         198           int64
16        Distance         202         float64
17   Propertycount         311           int64
18          Suburb         314          object
19    BuildingArea         602         float64
20  MeanRoomSquare        1277         float64
21        Landsize        1448         float64
22           Price        2204         float64
23       Lattitude        6503         float64
24      Longtitude        7063         float64

In [43]:
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Suburb          13580 non-null  object
 1   Rooms           13580 non-null  int64
 2   Type            13580 non-null  object
 3   Price           13580 non-null  float64
 4   Method          13580 non-null  object
 5   SellerG         13580 non-null  object
 6   Date            13580 non-null  datetime64[ns]
 7   Distance        13580 non-null  float64
 8   Postcode        13580 non-null  int64
 9   Bedroom         13580 non-null  int64
 10  Bathroom        13580 non-null  int64
 11  Car             13580 non-null  int64
 12  Landsize        13580 non-null  float64
 13  BuildingArea    13580 non-null  float64
 14  YearBuilt       13580 non-null  int64
 15  CouncilArea     12211 non-null  object
 16  Lattitude       13580 non-null  float64
 17  Longtitude      13580 non-null  float64
 18  Regionname      13580 non-null  object
 19  Propertycount   13580 non-null  int64
 20  MeanRoomSquare  13580 non-null  float64
 21  AreaRatio       13522 non-null  float64
 22  StreetType      13580 non-null  object
 23  WeekdaySale     13580 non-null  int64
 24  Weekend         13580 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(9), object(7)
memory usage: 2.6+ MB

None

In [45]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Suburb          13580 non-null  object
 1   Rooms           13580 non-null  int64
 2   Type            13580 non-null  category
 3   Price           13580 non-null  float64
 4   Method          13580 non-null  category
 5   SellerG         13580 non-null  category
 6   Date            13580 non-null  datetime64[ns]
 7   Distance        13580 non-null  float64
 8   Postcode        13580 non-null  int64
 9   Bedroom         13580 non-null  int64
 10  Bathroom        13580 non-null  int64
 11  Car             13580 non-null  int64
 12  Landsize        13580 non-null  float64
 13  BuildingArea    13580 non-null  float64
 14  YearBuilt       13580 non-null  category
 15  CouncilArea     12211 non-null  category
 16  Lattitude       13580 non-null  float64
 17  Longtitude      13580 non-null  float64
 18  Regionname      13580 non-null  category
 19  Propertycount   13580 non-null  int64
 20  MeanRoomSquare  13580 non-null  float64
 21  AreaRatio       13522 non-null  category
 22  StreetType      13580 non-null  category
 23  WeekdaySale     13580 non-null  category
 24  Weekend         13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(7), int64(6), object(1)
memory usage: 1.7+ MB

None

In [47]:
print(melb_df['Regionname'].cat.categories)

Index(['Eastern Metropolitan', 'Eastern Victoria', 'Northern Metropolitan',
       'Northern Victoria', 'South-Eastern Metropolitan',
       'Southern Metropolitan', 'Western Metropolitan', 'Western Victoria'],
      dtype='object')

In [49]:
display(melb_df['Regionname'].cat.codes)

0        2
1        2
2        2
3        2
4        2
        ..
13575    4
13576    6
13577    6
13578    6
13579    6
Length: 13580, dtype: int8

In [51]:
melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})
display(melb_df['Type'])

0        house
1        house
2        house
3        house
4        house
         ...
13575    house
13576    house
13577    house
13578    house
13579    house
Name: Type, Length: 13580, dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

In [53]:
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

0     unit
1    house
2      NaN
3      NaN
4    house
dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

In [56]:
melb_df['Type'] = melb_df['Type'].cat.add_categories('flat')
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

ValueError: new categories must not include old categories: {'flat'}

In [57]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Suburb          13580 non-null  object
 1   Rooms           13580 non-null  int64
 2   Type            13580 non-null  category
 3   Price           13580 non-null  float64
 4   Method          13580 non-null  category
 5   SellerG         13580 non-null  category
 6   Date            13580 non-null  datetime64[ns]
 7   Distance        13580 non-null  float64
 8   Postcode        13580 non-null  int64
 9   Bedroom         13580 non-null  int64
 10  Bathroom        13580 non-null  int64
 11  Car             13580 non-null  int64
 12  Landsize        13580 non-null  float64
 13  BuildingArea    13580 non-null  float64
 14  YearBuilt       13580 non-null  category
 15  CouncilArea     12211 non-null  category
 16  Lattitude       13580 non-null  float64
 17  Longtitude      13580 non-null  float64
 18  Regionname      13580 non-null  category
 19  Propertycount   13580 non-null  int64
 20  MeanRoomSquare  13580 non-null  float64
 21  AreaRatio       13522 non-null  category
 22  StreetType      13580 non-null  category
 23  WeekdaySale     13580 non-null  category
 24  Weekend         13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(7), int64(6), object(1)
memory usage: 1.7+ MB

In [58]:
melb_df['Suburb'].nunique()

314

In [59]:
melb_df['Suburb'].value_counts()

Reservoir         359
Richmond          260
Bentleigh East    249
Preston           239
Brunswick         222
                 ...
Sandhurst           1
Bullengarook        1
Croydon South       1
Montrose            1
Monbulk             1
Name: Suburb, Length: 314, dtype: int64

In [61]:
popular_suburbs = melb_df['Suburb'].value_counts().nlargest(119).index
print(popular_suburbs)

Index(['Reservoir', 'Richmond', 'Bentleigh East', 'Preston', 'Brunswick',
       'Essendon', 'South Yarra', 'Glen Iris', 'Hawthorn', 'Coburg',
       ...
       'Albion', 'Hoppers Crossing', 'Sunbury', 'Greensborough', 'Bundoora',
       'Hughesdale', 'Chadstone', 'Caulfield North', 'Mont Albert',
       'Alphington'],
      dtype='object', length=119)

In [63]:
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_suburbs else 'other')
display(melb_df['Suburb'])

0          Abbotsford
1          Abbotsford
2          Abbotsford
3          Abbotsford
4          Abbotsford
             ...
13575           other
13576    Williamstown
13577    Williamstown
13578    Williamstown
13579      Yarraville
Name: Suburb, Length: 13580, dtype: object

In [65]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Suburb          13580 non-null  object
 1   Rooms           13580 non-null  int64
 2   Type            13580 non-null  category
 3   Price           13580 non-null  float64
 4   Method          13580 non-null  category
 5   SellerG         13580 non-null  category
 6   Date            13580 non-null  datetime64[ns]
 7   Distance        13580 non-null  float64
 8   Postcode        13580 non-null  int64
 9   Bedroom         13580 non-null  int64
 10  Bathroom        13580 non-null  int64
 11  Car             13580 non-null  int64
 12  Landsize        13580 non-null  float64
 13  BuildingArea    13580 non-null  float64
 14  YearBuilt       13580 non-null  category
 15  CouncilArea     12211 non-null  category
 16  Lattitude       13580 non-null  float64
 17  Longtitude      13580 non-null  float64
 18  Regionname      13580 non-null  category
 19  Propertycount   13580 non-null  int64
 20  MeanRoomSquare  13580 non-null  float64
 21  AreaRatio       13522 non-null  category
 22  StreetType      13580 non-null  category
 23  WeekdaySale     13580 non-null  category
 24  Weekend         13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(7), int64(6), object(1)
memory usage: 1.7+ MB

In [66]:
melb_df['Suburb'] = melb_df['Suburb'].astype('category') # преобразуем тип столбца
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Suburb          13580 non-null  category
 1   Rooms           13580 non-null  int64
 2   Type            13580 non-null  category
 3   Price           13580 non-null  float64
 4   Method          13580 non-null  category
 5   SellerG         13580 non-null  category
 6   Date            13580 non-null  datetime64[ns]
 7   Distance        13580 non-null  float64
 8   Postcode        13580 non-null  int64
 9   Bedroom         13580 non-null  int64
 10  Bathroom        13580 non-null  int64
 11  Car             13580 non-null  int64
 12  Landsize        13580 non-null  float64
 13  BuildingArea    13580 non-null  float64
 14  YearBuilt       13580 non-null  category
 15  CouncilArea     12211 non-null  category
 16  Lattitude       13580 non-null  float64
 17  Longtitude      13580 non-null  float64
 18  Regionname      13580 non-null  category
 19  Propertycount   13580 non-null  int64
 20  MeanRoomSquare  13580 non-null  float64
 21  AreaRatio       13522 non-null  category
 22  StreetType      13580 non-null  category
 23  WeekdaySale     13580 non-null  category
 24  Weekend         13580 non-null  category
dtypes: category(11), datetime64[ns](1), float64(7), int64(6)
memory usage: 1.6 MB

None