In [169]:
import pandas as pd
import numpy as np

In [170]:
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']

users = pd.read_csv('users.csv', sep='\t', encoding = 'koi8-r')
users.columns = ['user_id', 'email', 'geo']

In [171]:
def correct_user_id(incorrect_user_id):
    return incorrect_user_id.split('Запись пользователя № - ')[1] if not '#error' in incorrect_user_id else ''
log['user_id'] = log['user_id'].apply(correct_user_id)

log['time'] = log['time'].str.strip('[')

In [172]:
log_df = log.copy()
log_df = log_df.dropna(axis=0, subset=['user_id', 'time'])
log_df = log_df.drop_duplicates(subset=['user_id', 'time'])
log_df['time'] = pd.to_datetime(log_df['time'])
log_df['time'].max()

Timestamp('2019-04-20 18:10:07')

In [173]:
log_df['time'].dt.minute.value_counts()

36    25
31    23
6     22
50    22
43    21
53    21
14    21
18    21
5     21
12    21
29    21
40    21
2     20
45    20
48    20
58    20
57    20
56    19
27    19
21    19
9     18
3     18
20    18
35    18
54    18
47    18
34    18
33    18
51    17
10    17
17    16
25    16
55    16
24    15
16    15
28    15
15    15
30    15
49    15
38    15
37    15
44    14
7     14
32    14
19    14
4     14
1     13
59    13
41    13
23    12
39    12
0     12
13    11
22    11
42    11
46    10
52    10
8      9
26     9
11     6
Name: time, dtype: int64

In [174]:
log_df['time'].dt.month.value_counts(ascending=True)

4    170
2    259
3    264
1    292
Name: time, dtype: int64

In [175]:
weekdays = log_df['time'].dt.day_of_week.value_counts()
weekdays[5] + weekdays[6]

283

In [176]:
log_df['hourofday'] = log_df['time'].dt.hour

def timeofday(hour):
    if 0<=hour<=5:
        return "Night"
    elif 6<=hour<=11:
        return "Morning"
    elif 12<=hour<=17:
        return "day"
    elif 18<=hour<=23:
        return "evening"
    
log_df['partofday'] = log_df['hourofday'].apply(timeofday)

log_df['partofday'].value_counts(ascending=True)

evening    227
day        240
Morning    253
Night      265
Name: partofday, dtype: int64

In [177]:
log_df['bet'] = log_df["bet"].fillna(0)
log_df.head()

    user_id                time  bet  win  hourofday partofday
0  user_919 2019-01-01 14:06:51  0.0  NaN         14       day
1  user_973 2019-01-01 14:51:16  0.0  NaN         14       day
2  user_903 2019-01-01 16:31:16  0.0  NaN         16       day
3  user_954 2019-01-01 17:17:51  0.0  NaN         17       day
4  user_954 2019-01-01 21:31:18  0.0  NaN         21   evening

In [178]:
log_df['bet'].value_counts()

0.0          513
500.0         49
100.0         48
300.0         42
800.0         41
200.0         40
400.0         40
700.0         38
600.0         37
1000.0        35
900.0         28
9754.0        10
10554.0        8
10154.0        7
10254.0        7
9954.0         6
10654.0        5
10754.0        4
10354.0        4
10054.0        3
10454.0        3
9854.0         2
8734.0         1
12945.0        1
27000.0        1
12548.0        1
9876.0         1
156789.0       1
950.0          1
8700.0         1
7650.0         1
123981.0       1
5000.0         1
1678321.0      1
98753.0        1
145732.0       1
104540.0       1
Name: bet, dtype: int64