In [106]:
import pandas as pd
#log = pd.read_csv("log.csv")
#log = log.dropna()
#log.columns = ["user_id", "time", "bet", "win"]
#log["time"] = log["time"].apply(lambda x: x[1:])
#log["time"] = pd.to_datetime(log["time"])
# Пропущенная строка
#log.time = log.time.apply(lambda x: x.minute)
# log['time'] = log.time.apply(lambda x: x.minute)
#log["time"].head()

In [107]:
#log = pd.read_csv("log.csv", header=None)
#log.columns = ['user_id', 'time', 'bet', 'win']
#log = log.dropna() # Избавьтесь от пропусков в log
#log.columns = ["user_id", "time", "bet", "win"]
#log.time = log.time.str.replace('[', '', regex = True)
#log["time"] = pd.to_datetime(log["time"])
#log['hour'] = log['time'].dt.hour
#log.head()

In [108]:
log = pd.read_csv("log.csv", header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log['bet'] = log["bet"].fillna(0)
log['win'] = log['win'].fillna(0)

In [109]:
def fillna_win(row):
    if row.win>0:
        return row.win
    elif row.bet==0:
        row.win=0
        return row.win
    elif row.bet>0 and row.win==0:
        return row.win-row.bet  

log['win'] = log.apply(lambda row: fillna_win(row), axis=1)

log

                              user_id                  time      bet      win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      0.0      0.0
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      0.0      0.0
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      0.0      0.0
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      0.0      0.0
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      0.0      0.0
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0  -9754.0
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0 -10454.0
998                            #error                   NaN   1000.0  -1000.0
999                            #error                   NaN  10754.0 -10754.0

[1000 rows x 4 columns]

In [110]:
cl = 0
def count_loose(not_win):
    global cl
    if not_win<0:
        cl+=1
    return cl

log['win'].apply(count_loose)
print(cl)

347

In [111]:
log['net'] = log['win'] - log['bet']
log

,user_id,time,bet,win,net
0,Запись пользователя № - user_919,[2019-01-01 14:06:51,0.0,0.0,0.0
1,Запись пользователя № - user_973,[2019-01-01 14:51:16,0.0,0.0,0.0
2,Запись пользователя № - user_903,[2019-01-01 16:31:16,0.0,0.0,0.0
3,Запись пользователя № - user_954,[2019-01-01 17:17:51,0.0,0.0,0.0
4,Запись пользователя № - user_954,[2019-01-01 21:31:18,0.0,0.0,0.0
...,...,...,...,...,...
995,Запись пользователя № - user_984,[2019-04-20 9:59:58,9754.0,-9754.0,-19508.0
996,#error,NaN,10054.0,29265.0,19211.0
997,#error,NaN,10454.0,-10454.0,-20908.0
998,#error,NaN,1000.0,-1000.0,-2000.0
999,#error,NaN,10754.0,-10754.0,-21508.0

In [112]:
cw = 0
def count_win(cnt_win):
    global cw
    if cnt_win>0:
        cw+=1
    return cw

log['net'].apply(count_win)
print(cw)

138

In [113]:
log[log['net']>0]['net'].mean()

80253.33333333333

In [114]:
log[log['net']>0]['net'].median()

5347.0

In [115]:
log[log['bet']>0]['bet'].mean()

6785.738144329897

In [116]:
log[log['bet']>0]['bet'].count()/log['user_id'].count()

0.485

In [117]:
log[log['bet']>0]['net'].mean()

18008.81649484536